<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мультипаспорт</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Мультипаспорт</h1>
        <form id="uploadForm" action="public/upload" method="POST">
            <label for="htmlInput">Введите ваш Мультипаспорт:</label>
            <textarea id="htmlInput" name="html" required placeholder="&lt;div class=&quot;passport&quot;&gt;Введите ваш Мультипаспорт здесь&lt;/div&gt;"></textarea>
            <button type="submit">Предпросмотр</button>
        </form>
    </div>
</body>
</html>
